<plugin>
	<nom>Squelette Ahuntsic</nom>
	<auteur>
		[Andr&#233; Vincent->http://andre-vincent.info]  
	</auteur>
	<version>2.0.3</version>
	<etat>stable</etat>
	<licence>&#169; 2006-2015 - GNU/GPL</licence>
	<slogan>Un jeu de squelettes multilingues &#224; caract&#232;re g&#233;n&#233;rique</slogan>
	<prefix>ahuntsic</prefix>
	<icon>images/ahuntsic-64.png</icon>
	<description>
		<multi>
		[en]Activate this plugin to enable {{Ahuntsic}} as the default template of your site.
		[fr]Activer ce plugin pour s&#233;lectionner le squelette {{Ahuntsic}} pour votre site.
		</multi>
	</description>

	<lien>http://contrib.spip.net/Squelette-Ahuntsic</lien>

	<options>ahuntsic_options.php</options>
	<fonctions>ahuntsic_fonctions.php</fonctions>

	<categorie>squelette</categorie>
	<necessite id="SPIP" version="[2.0.0;3.1.99]" />
</plugin>